* {
margin : 2;
padding : 4;
}
* {
    text-align: center;
}
img {
    align: "center";
}
.headings {
    text-align: center;
    background-color: orange;
    color: white;
}

article h2 {
    background : gray;
    color : #fff;
    display : inline-block;
    margin-bottom : 1em;
    padding : 0.5em 1em;
}
#name {
    font-size: 16
    font-family: Courier, Arial;
    background-color: navy;
    color: white;
}

img {
    align: center;
    padding-top: 0;
    padding-bottom: 0;
}
ul {
    list-style: none;
}
